body {
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);

}

h2 {
    background: linear-gradient(80deg, rgb(240, 102, 162) 0%, rgb(72, 150, 238) 100%);
    text-align: center;
    padding: 20px 0px;
    color: #fff;
    border-radius: 10px;

}

.login-container {
    background-color: red;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    max-width: 500px;
    min-width: 100px;
    text-align: center;
}

.in-field,
.btn {

    border-radius: 5px;
    padding: 12px 20px;
}

.in-field {
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    outline-color: rgb(197, 158, 85);
}

.error {
    color: red;

}

.btn {
    width: 100%;
    background: linear-gradient(80deg, rgb(240, 102, 162) 0%, rgb(72, 150, 238) 100%);
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0px;
    cursor: pointer;
}